/*-- scss:defaults --*/

// $body-bg: #191919;
// $body-color: #fff;
// $link-color: #42affa;
$code-block-font-size: 0.8em;
$presentation-h1-font-size:	2.5em;
$presentation-h2-font-size:	1.6em;
$presentation-h3-font-size:	1.3em;
$presentation-h4-font-size:	1.2em;


/*-- scss:rules --*/

.reveal .slide blockquote {
  border-left: 3px solid $text-muted;
  padding-left: 0.5em;
}