/*Custom CSS classes for slides*/

.midsize{
    font-size: 1.2em;
}

.centered_midsized {
    font-size: 1.2em;
    text-align: center;
}

.centered_large {
    font-size: 2.0em;
    text-align: center;
}

.red-text {
  color: red;
}

section.level2 > h1 {
    font-size: 200%;
}

section.level1 > h1 {
    font-size: 200%;
}

section {
    display: flex !important;
    flex-direction: column;
    top: unset !important;
    height: 100vh;
}

.red-bold-text {
    color: red;
    font-weight: bold;
}

.blue-bold-text {
    color: blue;
    font-weight: bold;
}
