/*Custom CSS classes for slides*/

.midsize{
    font-size: 1.2em;
}

.centered_midsized {
    font-size: 1.2em;
    text-align: center;
}

.centered_large {
    font-size: 2.0em;
    text-align: center;
}

.red {
  color: red;
}

.blue{
    color: blue;
}

.bold{
    font-weight: bold;
}

.red-bold{
    color: red;
    font-weight: bold;
}

.blue-bold{
    color: blue;
    font-weight: bold;
}

.green-bold{
    color: green;
    font-weight: bold;
}

section.level2 > h1 {
    font-size: 200%;
}

section.level1 > h1 {
    font-size: 200%;
}

section {
    display: flex !important;
    flex-direction: column;
    top: unset !important;
    height: 100vh;
}
